@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');
@import 'styles/boilerplate.css';
@import 'styles/wrappers.css';
@import 'styles/buttons.css';
@import 'styles/forms.css';
@import 'styles/grid.css';
@import 'styles/separator.css';
@import 'styles/cards.css';
@import 'styles/tables.css';
@import 'styles/code.css';
@import 'styles/pills.css';
@import 'styles/links.css';

/* === example only stuff === */
.example > * {
	text-align: center;
	border-radius: var(--radius);
	padding: var(--gap-sm) var(--gap-xs);
}

.lab {
	font-size: var(--font-lg);
}

footer {
	align-items: center;
}

footer > p {
	padding: 0 !important;
}

.hero {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 500px;
	font-size: 2rem;
	position: relative;
	background-image: linear-gradient(
		135deg,
		var(--black) 0%,
		var(--darker-gray) 75%,
		var(--gray) 100%);
} 

.hero small {
	color: var(--light-gray);
}

.hero h1 {
	text-shadow: 1px 1px 0 var(--dark-primary);
	transition: 0.2s;
}

.hero:hover h1 {
	text-shadow:  2px 2px 0 var(--dark-primary), -2px -2px 0 var(--dark-secondary);
	transition: 0.2s;
}
