
/* === forms === */
input:not([type="radio"]):not([type="checkbox"]), textarea, select {
	display: block;
	width: 100%;
	border: 1px solid var(--lighter-gray);
	outline: 0;
	background-color: white;
	padding: var(--gap-xs) var(--gap-sm);
	border-radius: var(--radius);
	font-family: Barlow, sans serif;
	font-size: var(--font-md);
	line-height: 2rem;
	transition: 0.2s;
}

input:not([type="radio"]):not([type="checkbox"]):hover, textarea:hover, select:hover {
	border-color: var(--light-gray);
	box-shadow: 0 1px 0 var(--light-gray);
	transition: 0.2s;
}

.control:not(:last-child) {
	padding: var(--gap-sm) 0;
}

.control label {
	display: inline-block;
	padding: 0 0 var(--gap-xs) var(--gap-xs);
	font-size: var(--font-sm);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}

.error {
	position: relative;
}

.error input:not([type="radio"]):not([type="checkbox"]) {
	border-color: var(--error);
}

.error .message:before {
	margin-right: var(--gap-xs);
	content: "!";
	color: white;
	background-color: var(--error);
	width: var(--gap-md);
	height: var(--gap-md);
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	font-weight: bold;
}

.error input:not([type="radio"]):not([type="checkbox"]):hover {
	border-color: var(--gray);
	box-shadow: 0 1px 0 var(--gray);
	transition: 0.2s;
}

input:not([type="radio"]):not([type="checkbox"]):focus, textarea:focus, select:focus {
	border-color: var(--primary);
	box-shadow: 0 2px 0 var(--primary);
	transition: 0.2s;
}

.error .message {
	font-size: var(--font-sm);
	color: var(--error);
	padding-left: var(--gap-xs)
}

input[type="radio"] { display: none; }
input[type="radio"] + label:before {
	display: inline-block;
	content: "";
	border: 3px double var(--gray);
	height: var(--gap-xs);
	width: var(--gap-xs);
	margin-right: var(--gap-xs);
	border-radius: 50%;
	transition: 0.2s;
}


input[type="radio"] + label:hover:before {
	border-color: var(--darker-gray);
}

input[type="radio"]:checked + label:before {
	background-color: var(--secondary);
	border: 3px solid var(--darker-gray);
}

input[type="radio"] + label {
	font-size: var(--font-md);
	text-transform: none;
	font-weight: normal;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	margin-right: var(--gap-sm);
}

input[type="checkbox"] { display: none; }
input[type="checkbox"] + label:before {
	display: inline-block;
	content: "";
	border: 3px double var(--gray);
	height: var(--gap-xs);
	width: var(--gap-xs);
	margin-right: var(--gap-xs);
	border-radius: var(--radius);
	transition: 0.2s;
}


input[type="checkbox"] + label:hover:before {
	border-color: var(--darker-gray);
}

input[type="checkbox"]:checked + label:before {
	background-color: var(--secondary);
	border: 3px solid var(--darker-gray);
}

input[type="checkbox"] + label {
	font-size: var(--font-md);
	text-transform: none;
	font-weight: normal;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	margin-right: var(--gap-sm);
}

select {
	-webkit-appearance: none;
    -moz-appearance: none;
		appearance: none;
		background-position: center right;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='12px' width='20px'%3E%3Ctext x='0' y='10' fill='gray'%3E%E2%96%BC%3C/text%3E%3C/svg%3E");
}
