/* === tables === */
table {
	border-spacing: 0;
	width: 100%;
}

td, th {
	padding: var(--gap-xs);
	text-align: left;
}

th { border-bottom: 1px solid var(--dark-gray); }

tr:not(:last-child) td {
	border-bottom: 1px solid var(--light-gray);
}
